<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>17/05/04 13:10:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;vtiger_login.GoToBrowser()[pri:0, instance:TestNG.vtiger_login@1d057a39]">&gt;&gt;GoToBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>17/05/04 13:10:40</td>   <td>7091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vtiger_login.VerifyHomePage()[pri:1, instance:TestNG.vtiger_login@1d057a39]">VerifyHomePage</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>17/05/04 13:10:48</td>   <td>15146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vtiger_login.AddProduct()[pri:2, instance:TestNG.vtiger_login@1d057a39]">AddProduct</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>17/05/04 13:11:02</td>   <td>28761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vtiger_login.SignOut()[pri:3, instance:TestNG.vtiger_login@1d057a39]">SignOut</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>17/05/04 13:11:08</td>   <td>34584</td> <td>&nbsp;</td><td title="&lt;&lt;vtiger_login.CloseDriver()[pri:0, instance:TestNG.vtiger_login@1d057a39]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1181199958</td>   <td></td> </tr>
</table>
